pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
xgboost
lightgbm
catboost
nltk
spacy
gensim
transformers
opencv-python
albumentations
joblib
h5py
tqdm
pillow
plotly
beautifulsoup4
requests
scrapy
selenium
lxml
flask
django
djangorestframework
